@import "reset.css";
body{
    font-family: sans-serif;

}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1059px;
    margin: 0 auto;
    text-align: center;
}
.bg-gray{
    background: url("../img/bg-gray.jpg ") center;
    background-size: cover;
}
.content{
    background-color: #f5f6f7;
    color: #373737;
    text-align: center;
    padding-top: 59px;
    padding-bottom: 94px;
}

.content-title {
    color:  #373737;
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 34px;
}

.content-text {
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    margin-bottom: 34px;
}

.container h1,h2,h3{
    text-transform: uppercase;
}
.hero__img-tag{
    width: 100vw;
    height: 40vw;
    object-fit: cover;
}
.menu{
    text-transform: uppercase;
    margin: 2vw auto;
}
.hero__menu-link {
    font-weight: bold;;
    text-decoration: none;
    color: #16a085;
    padding: 0 2vw;
    text-align: center;
}
.startedbutton {
    font-size: 12px;
    border: none;
    width: 175px;
    height: 46px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #16a085;
}
.divide-line{
    color: #16a085;
}
.footer-copyright{
    margin: 2vw auto;
    padding: 0 2vw;
    color: #373737;
    text-align: right;
}