*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.hero__menu{
    width: fit-content;
    text-transform: uppercase;
    margin: 2vw auto;
}
.hero__menu a{
    text-decoration: none;
    color: #16a085;
    margin: 0 3vw;
}
.hero_img{
    height: 100vh;
    background: url("../img/top-img.jpg") center;
    background-size: cover;
}
.startedbutton{
    width: 192px;
    height: 51px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    background-color: #16a085;
}