@import "reset.css";
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1059px;
    margin: 0 auto;
    text-align: center;
}
.bg-gray{
    background: url("../img/bg-gray.jpg ") center;
    background-size: cover;
}
.container h1,p{
    color: #373737;
    text-align: center;
    margin: 3vh 0 0 0;
}
.hero__menu{
    text-transform: uppercase;
    margin: 2vw auto;
    text-align: center;
}
.hero__menu a{
    text-decoration: none;
    color: #16a085;
    margin: 0 3vw;
}
.hero_img{
    /*text-align: center;*/
    /*min-width: 100%;*/
    background: url("https://upload.wikimedia.org/wikipedia/commons/b/b4/Roger_Pic._Ballet_Inbal._Paris._1962._Danses_d%27Isra%C3%ABl_P08.jpg") center;
    height: 80vh;
    background-size: cover;
}
.startedbutton {
    font-size: 12px;
    border: none;
    width: 175px;
    height: 46px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    background-color: #16a085;
    margin: 2vw 0;
}
